<div class="container">
    <div class="top-bar">
      <p class="greeting">Dicas de Exercícios</p>
    </div>
  
   
  
    <div class="video-container">
      <div class="video-card" (click)="openYouTubeVideo('https://www.youtube.com/watch?v=Dmol3aGr11s')">
        <p class="video-title">4 exercícios essenciais para os idosos realizarem todos os dias!</p>
        <p class="video-description">PhysioBRAIN</p>
      </div>
  
      <div class="video-card" (click)="openYouTubeVideo('https://www.youtube.com/watch?v=5Mmq-Mr05Oc')">
        <p class="video-title">EXERCÍCIOS PARA IDOSOS EM CASA | Treino COMPLETO para Terceira Idade | Vídeo 2</p>
        <p class="video-description">Aurélio Alfieri</p>
      </div>
  
      <div class="video-card" (click)="openYouTubeVideo('https://www.youtube.com/watch?v=NNPNA7Jdyck')">
        <p class="video-title">Exercícios físicos para idosos fazerem em casa</p>
        <p class="video-description">Acvida Cuidador de Idosos</p>
      </div>
    </div>
  
    <div class="bottom-bar">
      <a routerLink="/telainicial" class="info-row">
        <img src="https://cdn.discordapp.com/attachments/534527848845934609/1253821025670664202/painelaz.png?ex=66773f53&is=6675edd3&hm=9756fb3ca6aff45668bb93c19915f815fc3a5314b41441dd6774c57f02feebe1&" class="icon" />
      </a>
  
      <a routerLink="/exerc" class="info-row">
        <img src="https://cdn.discordapp.com/attachments/534527848845934609/1253824761902137414/lampb.png?ex=667742ce&is=6675f14e&hm=40221e5e7eaf9b2fd83c266775e921d0efbd139319f699669f47bacf4cb1742b&" class="icon" />
      </a>
  
      <a routerLink="/noticias" class="info-row">
        <img src="https://cdn.discordapp.com/attachments/534527848845934609/1253819425375653888/newsaz.png?ex=66773dd5&is=6675ec55&hm=e4a8956a2e1dbabaec3a042d3a387bb010546012e32ae961fcd9153f34ac87da&" class="icon" />
      </a>
    </div>
  </div>
  